[Unit]
Description=Background changer with feh

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --randomize --bg-scale /home/john/Pictures/Wallpapers

[Install]
WantedBy=default.target
